 /* menu navigation height setting */
 .subnav {
   	padding-top: 136px;
}
 @media (min-width: 576px) {
    .subnav {
        padding-top: 68px;
    }
 }
body {
	font-size: .9rem; 
	font-family:"NanumGothic";
} 
 /* menu navigation height setting end  */
.strong {
	font-weight: bold;
}
 .bg-blue {
	background-color: #56B6E6!important;
 }
 .navbar-default {
	background-color: #000000;
	border-color: #e7e7e7;
 }
 .navbar-default .navbar-brand {
  	color: #fff;
 }
 .navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
 }
 .navbar-static-top {
    padding-right: 0;
    padding-left: 0;
 }
 .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }
 .portfolio-item {
    margin-bottom: 30px;
 }
 .search-input {
	border-radius: 0rem 0.75rem 0.75rem 0rem !important;
	border: 0px solid transparent;
	outline: none;
	padding: 0.75rem 0.75rem 0.75rem 0rem;
	text-align: center!important;
 }
 .search-btn {
	border: 1px solid transparent;
	border-radius: 0.75rem 0rem 0rem 0.75rem !important;
	padding: 0.75rem;
	background: #fff;
 }
 .input-group-btn {
	border-radius: 0.75rem;
 }
 .top-icon {
	margin: 0.75rem;
 }
 .logo {
	text-decoration: blink;
	font-size: 1.45rem;
	font-weight: bolder;
	font-family: inherit;
	margin: 0px;
 }
.dropdown:hover .dropdown-menu {
    display: block;
 }
 .bg-white {
 background-color:#fff!important
 }
 a.bg-white:focus,a.bg-white:hover {
 background-color:#dae0e5!important
 }
 .navbar-light .navbar-nav .nav-link {
 color: rgba(0, 0, 0,.5);
 }
 .navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
 color: rgba(0, 128, 255,.9);
 }
 .navbar-light .navbar-nav .nav-link.disabled {
 color: rgba(0,0,0,.3)
 }
 .navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link {
 	color: rgba(0, 128, 255, 0.7);
 	font-weight: bold;
 }

 .dropdown-item{
	 display:block;
	 width:100%;
	 padding:.25rem 1.5rem;
	 clear:both;
	 font-weight:400;
	 color: rgba(0, 0, 0,.5);
	 text-align:inherit;
	 white-space:nowrap;
	 background:0 0;
	 border:0
 }
 .dropdown-item:focus,.dropdown-item:hover {
	 color: rgba(0, 128, 255,.9);
	 text-decoration:none;
	 background-color:transparent;

 }
 .dropdown-item.active,.dropdown-item:active {
	 color: rgba(0, 128, 255,.9);
	 text-decoration:none;
	 background-color:transparent;
 
 }
 .dropdown-item.disabled,.dropdown-item:disabled {
	 color:#868e96;
	 background-color:transparent;
 }
 
 .list-inline {
 	padding-left:0;
 	list-style:none
 }
 .list-inline>li {
 	display:inline-block;
 	padding-right:5px;
 	padding-left:5px
 }
 
 [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  font-family:"NanumGothic";
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;  
  top: 0.2em;
  width: 1.25em; height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
/*   box-shadow: inset 0 1px 3px rgba(0,0,0,.1); */
}
/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
    position: absolute;
    top: .4em;
    left: .2em;
    font-size: 1em;
    line-height: 0.8;
    color: #007bff;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
/* [type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
} */

/* hover style just for information */
/* label:hover:before {
  border: 2px solid #dddddd!important;
} */
 
 
